<div class="clearfix">
    <button class="btn btn-link d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doc-sidebar-nav" aria-controls="doc-sidebar-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </button>
    <span class="mobile-sidebar-title">Api pages</span>
</div>

<nav class="doc-links collapse clearfix nav-fix" id="doc-sidebar-nav">
    <div class="filter-container">
        <input type="search" id="sidebar-filter" autocomplete="off"  placeholder="Search"/>
        <ul class="filter-list"></ul>
    </div>

    <ul class="nav bs-sidenav">

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#index-collapse" aria-expanded="false">
                <a>browser</a>
            </button>

            <div class="collapse" id="index-collapse" data-section-url="/api/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="overview nav-item"><a href="/api/">Overview</a></li>
                    <li class="nav-item" data-api-name="axeInject"><a href="/api/axeInject.html">axeInject</a></li>
                    <li class="nav-item" data-api-name="axeRun"><a href="/api/axeRun.html">axeRun</a></li>
                    <li class="nav-item" data-api-name="back"><a href="/api/back.html">back</a></li>
                    <li class="nav-item" data-api-name="captureBrowserConsoleLogs"><a href="/api/captureBrowserConsoleLogs.html">captureBrowserConsoleLogs</a></li>
                    <li class="nav-item" data-api-name="captureBrowserExceptions"><a href="/api/captureBrowserExceptions.html">captureBrowserExceptions</a></li>
                    <li class="nav-item" data-api-name="debug"><a href="/api/debug.html">debug</a></li>
                    <li class="nav-item" data-api-name="enablePerformanceMetrics"><a href="/api/enablePerformanceMetrics.html">enablePerformanceMetrics</a></li>
                    <li class="nav-item" data-api-name="end"><a href="/api/end.html">end</a></li>
                    <li class="nav-item" data-api-name="forward"><a href="/api/forward.html">forward</a></li>
                    <li class="nav-item" data-api-name="frame"><a href="/api/frame.html">frame</a></li>
                    <li class="nav-item" data-api-name="frameParent"><a href="/api/frameParent.html">frameParent</a></li>
                    <li class="nav-item" data-api-name="getCurrentUrl"><a href="/api/getCurrentUrl.html">getCurrentUrl</a></li>
                    <li class="nav-item" data-api-name="getLog"><a href="/api/getLog.html">getLog</a></li>
                    <li class="nav-item" data-api-name="getLogTypes"><a href="/api/getLogTypes.html">getLogTypes</a></li>
                    <li class="nav-item" data-api-name="getPerformanceMetrics"><a href="/api/getPerformanceMetrics.html">getPerformanceMetrics</a></li>
                    <li class="nav-item" data-api-name="getTitle"><a href="/api/getTitle.html">getTitle</a></li>
                    <li class="nav-item" data-api-name="init"><a href="/api/init.html">init</a></li>
                    <li class="nav-item" data-api-name="isLogAvailable"><a href="/api/isLogAvailable.html">isLogAvailable</a></li>
                    <li class="nav-item" data-api-name="navigateTo"><a href="/api/navigateTo.html">navigateTo</a></li>
                    <li class="nav-item" data-api-name="pause"><a href="/api/pause.html">pause</a></li>
                    <li class="nav-item" data-api-name="perform"><a href="/api/perform.html">perform</a></li>
                    <li class="nav-item" data-api-name="quit"><a href="/api/quit.html">quit</a></li>
                    <li class="nav-item" data-api-name="refresh"><a href="/api/refresh.html">refresh</a></li>
                    <li class="nav-item" data-api-name="registerBasicAuth"><a href="/api/registerBasicAuth.html">registerBasicAuth</a></li>
                    <li class="nav-item" data-api-name="saveScreenshot"><a href="/api/saveScreenshot.html">saveScreenshot</a></li>
                    <li class="nav-item" data-api-name="saveSnapshot"><a href="/api/saveSnapshot.html">saveSnapshot</a></li>
                    <li class="nav-item" data-api-name="screenshot"><a href="/api/screenshot.html">screenshot</a></li>
                    <li class="nav-item" data-api-name="session"><a href="/api/session.html">session</a></li>
                    <li class="nav-item" data-api-name="sessions"><a href="/api/sessions.html">sessions</a></li>
                    <li class="nav-item" data-api-name="setDeviceDimensions"><a href="/api/setDeviceDimensions.html">setDeviceDimensions</a></li>
                    <li class="nav-item" data-api-name="setGeolocation"><a href="/api/setGeolocation.html">setGeolocation</a></li>
                    <li class="nav-item" data-api-name="status"><a href="/api/status.html">status</a></li>
                    <li class="nav-item" data-api-name="submit"><a href="/api/submit.html">submit</a></li>
                    <li class="nav-item" data-api-name="takeHeapSnapshot"><a href="/api/takeHeapSnapshot.html">takeHeapSnapshot</a></li>
                    <li class="nav-item" data-api-name="timeouts"><a href="/api/timeouts.html">timeouts</a></li>
                    <li class="nav-item" data-api-name="timeoutsAsyncScript"><a href="/api/timeoutsAsyncScript.html">timeoutsAsyncScript</a></li>
                    <li class="nav-item" data-api-name="timeoutsImplicitWait"><a href="/api/timeoutsImplicitWait.html">timeoutsImplicitWait</a></li>
                    <li class="nav-item" data-api-name="url"><a href="/api/url.html">url</a></li>
                    <li class="nav-item" data-api-name="urlHash"><a href="/api/urlHash.html">urlHash</a></li>
                    <li class="nav-item" data-api-name="useCss"><a href="/api/useCss.html">useCss</a></li>
                    <li class="nav-item" data-api-name="useXpath"><a href="/api/useXpath.html">useXpath</a></li>
                    <li class="nav-item" data-api-name="waitForElementNotPresent"><a href="/api/waitForElementNotPresent.html">waitForElementNotPresent</a></li>
                    <li class="nav-item" data-api-name="waitForElementNotVisible"><a href="/api/waitForElementNotVisible.html">waitForElementNotVisible</a></li>
                    <li class="nav-item" data-api-name="waitForElementPresent"><a href="/api/waitForElementPresent.html">waitForElementPresent</a></li>
                    <li class="nav-item" data-api-name="waitForElementVisible"><a href="/api/waitForElementVisible.html">waitForElementVisible</a></li>
                    <li class="nav-item" data-api-name="waitUntil"><a href="/api/waitUntil.html">waitUntil</a></li>
                </ul>
            </div>

        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#alerts-collapse" aria-expanded="false">
                <a>.alerts</a>
            </button>
            <div class="collapse" id="alerts-collapse" data-section-url="/api/alerts/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="alerts.accept"><a href="/api/alerts/accept.html">accept</a></li>
                    <li class="nav-item" data-api-name="alerts.dismiss"><a href="/api/alerts/dismiss.html">dismiss</a></li>
                    <li class="nav-item" data-api-name="alerts.getText"><a href="/api/alerts/getText.html">getText</a></li>
                    <li class="nav-item" data-api-name="alerts.setText"><a href="/api/alerts/setText.html">setText</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#appium-collapse" aria-expanded="false">
                <a>.appium</a>
            </button>
            <div class="collapse" id="appium-collapse" data-section-url="/api/appium/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="appium.getContext"><a href="/api/appium/getContext.html">getContext</a></li>
                    <li class="nav-item" data-api-name="appium.getContexts"><a href="/api/appium/getContexts.html">getContexts</a></li>
                    <li class="nav-item" data-api-name="appium.getCurrentActivity"><a href="/api/appium/getCurrentActivity.html">getCurrentActivity</a></li>
                    <li class="nav-item" data-api-name="appium.getCurrentPackage"><a href="/api/appium/getCurrentPackage.html">getCurrentPackage</a></li>
                    <li class="nav-item" data-api-name="appium.getGeolocation"><a href="/api/appium/getGeolocation.html">getGeolocation</a></li>
                    <li class="nav-item" data-api-name="appium.getOrientation"><a href="/api/appium/getOrientation.html">getOrientation</a></li>
                    <li class="nav-item" data-api-name="appium.hideKeyboard"><a href="/api/appium/hideKeyboard.html">hideKeyboard</a></li>
                    <li class="nav-item" data-api-name="appium.isKeyboardShown"><a href="/api/appium/isKeyboardShown.html">isKeyboardShown</a></li>
                    <li class="nav-item" data-api-name="appium.longPressKeyCode"><a href="/api/appium/longPressKeyCode.html">longPressKeyCode</a></li>
                    <li class="nav-item" data-api-name="appium.pressKeyCode"><a href="/api/appium/pressKeyCode.html">pressKeyCode</a></li>
                    <li class="nav-item" data-api-name="appium.setContext"><a href="/api/appium/setContext.html">setContext</a></li>
                    <li class="nav-item" data-api-name="appium.setGeolocation"><a href="/api/appium/setGeolocation.html">setGeolocation</a></li>
                    <li class="nav-item" data-api-name="appium.setOrientation"><a href="/api/appium/setOrientation.html">setOrientation</a></li>
                    <li class="nav-item" data-api-name="appium.startActivity"><a href="/api/appium/startActivity.html">startActivity</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#assert-collapse" aria-expanded="false">
                <a>.assert</a>
            </button>
            <div class="collapse" id="assert-collapse" data-section-url="/api/assert/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="overview nav-item"><a href="/api/assert/">Overview</a></li>
                    <li class="nav-item" data-api-name="assert.attributeContains"><a href="/api/assert/attributeContains.html">attributeContains</a></li>
                    <li class="nav-item" data-api-name="assert.attributeEquals"><a href="/api/assert/attributeEquals.html">attributeEquals</a></li>
                    <li class="nav-item" data-api-name="assert.attributeMatches"><a href="/api/assert/attributeMatches.html">attributeMatches</a></li>
                    <li class="nav-item" data-api-name="assert.cssProperty"><a href="/api/assert/cssProperty.html">cssProperty</a></li>
                    <li class="nav-item" data-api-name="assert.domPropertyContains"><a href="/api/assert/domPropertyContains.html">domPropertyContains</a></li>
                    <li class="nav-item" data-api-name="assert.domPropertyEquals"><a href="/api/assert/domPropertyEquals.html">domPropertyEquals</a></li>
                    <li class="nav-item" data-api-name="assert.domPropertyMatches"><a href="/api/assert/domPropertyMatches.html">domPropertyMatches</a></li>
                    <li class="nav-item" data-api-name="assert.elementsCount"><a href="/api/assert/elementsCount.html">elementsCount</a></li>
                    <li class="nav-item" data-api-name="assert.elementPresent"><a href="/api/assert/elementPresent.html">elementPresent</a></li>
                    <li class="nav-item" data-api-name="assert.hasClass"><a href="/api/assert/hasClass.html">hasClass</a></li>
                    <li class="nav-item" data-api-name="assert.hasAttribute"><a href="/api/assert/hasAttribute.html">hasAttribute</a></li>
                    <li class="nav-item" data-api-name="assert.hasDescendants"><a href="/api/assert/hasDescendants.html">hasDescendants</a></li>
                    <li class="nav-item" data-api-name="assert.enabled"><a href="/api/assert/enabled.html">enabled</a></li>
                    <li class="nav-item" data-api-name="assert.selected"><a href="/api/assert/selected.html">selected</a></li>
                    <li class="nav-item" data-api-name="assert.textContains"><a href="/api/assert/textContains.html">textContains</a></li>
                    <li class="nav-item" data-api-name="assert.textEquals"><a href="/api/assert/textEquals.html">textEquals</a></li>
                    <li class="nav-item" data-api-name="assert.textMatches"><a href="/api/assert/textMatches.html">textMatches</a></li>
                    <li class="nav-item" data-api-name="assert.titleContains"><a href="/api/assert/titleContains.html">titleContains</a></li>
                    <li class="nav-item" data-api-name="assert.titleEquals"><a href="/api/assert/titleEquals.html">titleEquals</a></li>
                    <li class="nav-item" data-api-name="assert.titleMatches"><a href="/api/assert/titleMatches.html">titleMatches</a></li>
                    <li class="nav-item" data-api-name="assert.urlContains"><a href="/api/assert/urlContains.html">urlContains</a></li>
                    <li class="nav-item" data-api-name="assert.urlEquals"><a href="/api/assert/urlEquals.html">urlEquals</a></li>
                    <li class="nav-item" data-api-name="assert.urlMatches"><a href="/api/assert/urlMatches.html">urlMatches</a></li>
                    <li class="nav-item" data-api-name="assert.valueContains"><a href="/api/assert/valueContains.html">valueContains</a></li>
                    <li class="nav-item" data-api-name="assert.valueEquals"><a href="/api/assert/valueEquals.html">valueEquals</a></li>
                    <li class="nav-item" data-api-name="assert.visible"><a href="/api/assert/visible.html">visible</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#chrome-collapse" aria-expanded="false">
                <a>.chrome</a>
            </button>
            <div class="collapse" id="chrome-collapse" data-section-url="/api/chrome/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/chrome/">Overview</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cookies-collapse" aria-expanded="false">
                <a>.cookies</a>
            </button>
            <div class="collapse" id="cookies-collapse" data-section-url="/api/cookies/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="cookies.delete"><a href="/api/cookies/delete.html">delete</a></li>
                    <li class="nav-item" data-api-name="cookies.deleteAll"><a href="/api/cookies/deleteAll.html">deleteAll</a></li>
                    <li class="nav-item" data-api-name="cookies.get"><a href="/api/cookies/get.html">get</a></li>
                    <li class="nav-item" data-api-name="cookies.getAll"><a href="/api/cookies/getAll.html">getAll</a></li>
                    <li class="nav-item" data-api-name="cookies.set"><a href="/api/cookies/set.html">set</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#document-collapse" aria-expanded="false">
                <a>.document</a>
            </button>
            <div class="collapse" id="document-collapse" data-section-url="/api/document/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="document.injectScript"><a href="/api/document/injectScript.html">injectScript</a></li>
                    <li class="nav-item" data-api-name="document.source"><a href="/api/document/source.html">source</a></li>
                    <li class="nav-item" data-api-name="document.executeScript"><a href="/api/document/executeScript.html">executeScript</a></li>
                    <li class="nav-item" data-api-name="document.executeAsyncScript"><a href="/api/document/executeAsyncScript.html">executeAsyncScript</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#commands-collapse" aria-expanded="false">
                <a>.element</a>
            </button>
            <div class="collapse" id="commands-collapse" data-section-url="/api/commands/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/element/">Overview</a></li>
                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#findelements-collapse" aria-expanded="false">
                            <a class="section">Find Elements</a>
                        </button>

                        <div class="collapse" id="findelements-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li data-api-name="element.find"><a href="/api/element/find.html">find</a></li>
                                <li data-api-name="element.findAll"><a href="/api/element/findAll.html">findAll</a></li>
                                <li data-api-name="element.findByAltText"><a href="/api/element/findByAltText.html">findByAltText</a></li>
                                <li data-api-name="element.findAllByAltText"><a href="/api/element/findAllByAltText.html">findAllByAltText</a></li>
                                <li data-api-name="element.findByPlaceholderText"><a href="/api/element/findByPlaceholderText.html">findByPlaceholderText</a></li>
                                <li data-api-name="element.findAllByPlaceholderText"><a href="/api/element/findAllByPlaceholderText.html">findAllByPlaceholderText</a></li>
                                <li data-api-name="element.findByRole"><a href="/api/element/findByRole.html">findByRole</a></li>
                                <li data-api-name="element.findAllByRole"><a href="/api/element/findAllByRole.html">findAllByRole</a></li>
                                <li data-api-name="element.findByLabelText"><a href="/api/element/findByLabelText.html">findByLabelText</a></li>
                                <li data-api-name="element.findByText"><a href="/api/element/findByText.html">findByText</a></li>
                                <li data-api-name="element.findAllByText"><a href="/api/element/findAllByText.html">findAllByText</a></li>
                                <li data-api-name="element.getFirstElementChild"><a href="/api/element/getFirstElementChild.html">getFirstElementChild</a></li>
                                <li data-api-name="element.getLastElementChild"><a href="/api/element/getLastElementChild.html">getLastElementChild</a></li>
                                <li data-api-name="element.getNextElementSibling"><a href="/api/element/getNextElementSibling.html">getNextElementSibling</a></li>
                                <li data-api-name="element.getPreviousElementSibling"><a href="/api/element/getPreviousElementSibling.html">getPreviousElementSibling</a></li>
                                <li data-api-name="element.getShadowRoot"><a href="/api/element/getShadowRoot.html">getShadowRoot</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#interaction-collapse" aria-expanded="false">
                            <a class="section">Element Interaction</a>
                        </button>

                        <div class="collapse" id="interaction-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li data-api-name="element.clear"><a href="/api/element/clear.html">clear</a></li>
                                <li data-api-name="element.click"><a href="/api/element/click.html">click</a></li>
                                <li data-api-name="element.dragAndDrop"><a href="/api/element/dragAndDrop.html">dragAndDrop</a></li>
                                <li data-api-name="element.sendKeys"><a href="/api/element/sendKeys.html">sendKeys</a></li>
                                <li data-api-name="element.setAttribute"><a href="/api/element/setAttribute.html">setAttribute</a></li>
                                <li data-api-name="element.setProperty"><a href="/api/element/setProperty.html">setProperty</a></li>
                                <li data-api-name="element.submit"><a href="/api/element/submit.html">submit</a></li>
                                <li data-api-name="element.update"><a href="/api/element/update.html">update</a></li>
                                <li data-api-name="element.upload"><a href="/api/element/upload.html">upload</a></li>
                                <li data-api-name="element.submitForm"><a href="/api/submitForm.html">submitForm</a></li>
                                <li data-api-name="element.updateValue"><a href="/api/updateValue.html">updateValue</a></li>
                                <li data-api-name="element.uploadFile"><a href="/api/uploadFile.html">uploadFile</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#elementstate-collapse" aria-expanded="false">
                            <a class="section">Element State</a>
                        </button>

                        <div class="collapse" id="elementstate-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li data-api-name="element.clearValue"><a href="/api/clearValue.html">clearValue</a></li>
                                <li data-api-name="element.elementActive"><a href="/api/elementActive.html">elementActive</a></li>
                                <li data-api-name="element.getAccessibleName"><a href="/api/element/getAccessibleName.html">getAccessibleName</a></li>
                                <li data-api-name="element.getAriaRole"><a href="/api/element/getAriaRole.html">getAriaRole</a></li>
                                <li data-api-name="element.getAttribute"><a href="/api/element/getAttribute.html">getAttribute</a></li>
                                <li data-api-name="element.getCssProperty"><a href="/api/element/getCssProperty.html">getCssProperty</a></li>
                                <li data-api-name="element.getProperty"><a href="/api/element/getProperty.html">getProperty</a></li>
                                <li data-api-name="element.getRect"><a href="/api/element/getRect.html">getRect</a></li>
                                <li data-api-name="element.getElementSize"><a href="/api/getElementSize.html">getElementSize</a></li>
                                <li data-api-name="element.getTagName"><a href="/api/element/getTagName.html">getTagName</a></li>
                                <li data-api-name="element.getText"><a href="/api/element/getText.html">getText</a></li>
                                <li data-api-name="element.getValue"><a href="/api/element/getValue.html">getValue</a></li>
                                <li data-api-name="element.setValue"><a href="/api/element/setValue.html">setValue</a></li>
                                <li data-api-name="element.getId"><a href="/api/element/getId.html">getId</a></li>
                                <li data-api-name="element.hasDescendants"><a href="/api/hasDescendants.html">hasDescendants</a></li>
                                <li data-api-name="element.isEnabled"><a href="/api/isEnabled.html">isEnabled</a></li>
                                <li data-api-name="element.isSelected"><a href="/api/isSelected.html">isSelected</a></li>
                                <li data-api-name="element.isVisible"><a href="/api/isVisible.html">isVisible</a></li>
                                <li data-api-name="element.isPresent"><a href="/api/isPresent.html">isPresent</a></li>
                            </ul>
                        </div>
                    </li>


                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#apiuseractions-collapse" aria-expanded="false">
                            <a class="section">User Actions</a>
                        </button>

                        <div class="collapse" id="apiuseractions-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li data-api-name="element.waitUntil"><a href="/api/element/waitUntil.html">waitUntil</a></li>
                                <li data-api-name="element.clickAndHold"><a href="/api/element/clickAndHold.html">clickAndHold</a></li>
                                <li data-api-name="element.doubleClick"><a href="/api/element/doubleClick.html">doubleClick</a></li>
                                <li data-api-name="element.rightClick"><a href="/api/element/rightClick.html">rightClick</a></li>
                                <li data-api-name="element.moveTo"><a href="/api/element/moveTo.html">moveTo</a></li>
                                <li><a href="/api/useractions/">Selenium Actions API</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#elementlocation-collapse" aria-expanded="false">
                            <a class="section">Screen capture</a>
                        </button>

                        <div class="collapse" id="elementlocation-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li data-api-name="element.takeScreenshot"><a href="/api/element/takeScreenshot.html">takeScreenshot</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#expect-collapse" aria-expanded="false"><a>.expect</a></button>

            <div class="collapse" id="expect-collapse" data-section-url="/api/expect/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/expect/">Overview</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-chains">language chains</a></li>
                    <li class="nav-item" data-api-name="expect.equal"><a href="/api/expect/#expect-matchers">equal() / contain() / match()</a></li>
                    <li class="nav-item" data-api-name="expect.startWith"><a href="/api/expect/#expect-startend">startWith() / endWith()</a></li>
                    <li class="nav-item" data-api-name="expect.not"><a href="/api/expect/#expect-negation">.not</a></li>
                    <li class="nav-item" data-api-name="expect.before"><a href="/api/expect/#expect-before">before() / after()</a></li>
                    <li class="nav-item local-nav" data-api-name="expect.cookie"><h5><a href="/api/expect/#expect-cookie">.cookie()</a></h5></li>

                    <li class="nav-item local-nav" data-api-name="expect.element"><h5><a href="/api/expect/element/#">.element()</a></h5></li>
                    <li class="nav-item" data-api-name="expect.a"><a href="/api/expect/element/type.html">.a() / .an()</a></li>
                    <li class="nav-item" data-api-name="expect.active"><a href="/api/expect/element/active.html">.active</a></li>
                    <li class="nav-item" data-api-name="expect.attribute"><a href="/api/expect/element/attribute.html">.attribute(name)</a></li>
                    <li class="nav-item" data-api-name="expect.css"><a href="/api/expect/element/css.html">.css(property)</a></li>
                    <li class="nav-item" data-api-name="expect.enabled"><a href="/api/expect/element/enabled.html">.enabled</a></li>
                    <li class="nav-item" data-api-name="expect.present"><a href="/api/expect/element/present.html">.present</a></li>
                    <li class="nav-item" data-api-name="expect.property"><a href="/api/expect/element/property.html">.property(name)</a></li>
                    <li class="nav-item" data-api-name="expect.selected"><a href="/api/expect/element/selected.html">.selected</a></li>
                    <li class="nav-item" data-api-name="expect.text"><a href="/api/expect/element/text.html">.text</a></li>
                    <li class="nav-item" data-api-name="expect.value"><a href="/api/expect/element/value.html">.value</a></li>
                    <li class="nav-item" data-api-name="expect.visible"><a href="/api/expect/element/visible.html">.visible</a></li>
                    <li class="nav-item local-nav" data-api-name="expect.elements"><h5><a href="/api/expect/elements/#">.elements()</a></h5></li>
                    <li class="nav-item" data-api-name="expect.count"><a href="/api/expect/elements/count.html">.count</a></li>
                    <li class="nav-item local-nav" data-api-name="expect.title"><h5><a href="/api/expect/#expect-title">.title()</a></h5></li>
                    <li class="nav-item local-nav" data-api-name="expect.url"><h5><a href="/api/expect/#expect-url">.url()</a></h5></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#firefox-collapse" aria-expanded="false">
                <a>.firefox</a>
            </button>
            <div class="collapse" id="firefox-collapse" data-section-url="/api/firefox/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/firefox/">Overview</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#network-collapse" aria-expanded="false">
                <a>.network</a>
            </button>
            <div class="collapse" id="network-collapse" data-section-url="/api/network/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="network.captureRequests"><a href="/api/network/captureRequests.html">captureRequests</a></li>
                    <li class="nav-item" data-api-name="network.mockResponse"><a href="/api/network/mockResponse.html">mockResponse</a></li>
                    <li class="nav-item" data-api-name="network.setConditions"><a href="/api/network/setConditions.html">setConditions</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#window-collapse" aria-expanded="false">
                <a>.window</a>
            </button>
            <div class="collapse" id="window-collapse" data-section-url="/api/window/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item" data-api-name="window.close"><a href="/api/window/close.html">close</a></li>
                    <li class="nav-item" data-api-name="window.fullscreen"><a href="/api/window/fullscreen.html">fullscreen</a></li>
                    <li class="nav-item" data-api-name="window.getAllHandles"><a href="/api/window/getAllHandles.html">getAllHandles</a></li>
                    <li class="nav-item" data-api-name="window.getHandle"><a href="/api/window/getHandle.html">getHandle</a></li>
                    <li class="nav-item" data-api-name="window.getPosition"><a href="/api/window/getPosition.html">getPosition</a></li>
                    <li class="nav-item" data-api-name="window.getRect"><a href="/api/window/getRect.html">getRect</a></li>
                    <li class="nav-item" data-api-name="window.getSize"><a href="/api/window/getSize.html">getSize</a></li>
                    <li class="nav-item" data-api-name="window.maximize"><a href="/api/window/maximize.html">maximize</a></li>
                    <li class="nav-item" data-api-name="window.minimize"><a href="/api/window/minimize.html">minimize</a></li>
                    <li class="nav-item" data-api-name="window.open"><a href="/api/window/open.html">open</a></li>
                    <li class="nav-item" data-api-name="window.setPosition"><a href="/api/window/setPosition.html">setPosition</a></li>
                    <li class="nav-item" data-api-name="window.setRect"><a href="/api/window/setRect.html">setRect</a></li>
                    <li class="nav-item" data-api-name="window.setSize"><a href="/api/window/setSize.html">setSize</a></li>
                    <li class="nav-item" data-api-name="window.switchTo"><a href="/api/window/switchTo.html">switchTo</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pageobject-collapse" aria-expanded="false"><a>Page Object</a></button>

            <div class="collapse" id="pageobject-collapse" data-section-url="/api/pageobject/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/pageobject/#overview">Overview</a></li>
                    <li><a href="/api/pageobject/#page-object-instance">Instance</a></li>
                    <li><a href="/api/pageobject/#page-commands">Commands</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#useractions-collapse" aria-expanded="false"><a>User Actions</a></button>

            <div class="collapse" id="useractions-collapse" data-section-url="/api/useractions/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/useractions/#overview">Overview</a></li>
                    <li><a href="/api/useractions/#available-actions">Available actions</a></li>
                    <li><a href="/api/useractions/#working-with-action-ticks">Action ticks</a></li>
                    <li><a href="/api/useractions/#working-example">Working example</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#programmatic-collapse" aria-expanded="false"><a>Programmatic API</a></button>

            <div class="collapse" id="programmatic-collapse" data-section-url="/api/programmatic/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/programmatic/#programmatic-api">Use the programmatic api</a></li>
                </ul>
            </div>
        </li>

    </ul>
</nav>

<script type="module">
  import {onRender} from 'postdoc/page';

  onRender((url) => {
    const activeLink = document.querySelector(`.nav .btn-toggle-nav a[href$="${url.pathname}"]`);

    document.querySelectorAll('.nav .collapse.show').forEach(function(collapse) {
      collapse.classList.remove('show');
      const button = collapse.previousElementSibling;
      if (button) {
        button.classList.add('collapsed');
        button.setAttribute('aria-expanded', 'false');
      }
    });


    if (activeLink) {
      activeLink.classList.add('active');

      let parentElement = activeLink.parentElement;
      while (parentElement) {
        if (parentElement.matches('.collapse')) {
          parentElement.classList.add('show');
          const parentButton = parentElement.previousElementSibling;
          if (parentButton && parentButton.matches('button')) {
            parentButton.classList.remove('collapsed');
            parentButton.setAttribute('aria-expanded', 'true');
          }
        }
        parentElement = parentElement.parentElement; // Move up to the next parent element
      }
    }
  }, {forPage: /(\/api\/)/});

</script>