<!-- Footer section start -->
<footer class="footer-landing" aria-label="Footer">
  <div class="footer__wrapper">
    <div class="footer__wrapper-inner">
      <nav class="footer__wrapper-inner-menu" aria-label="Footer menu">
        <ul>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Features</span>
            <ul>
              <li><a href="/guide/mobile-app-testing/introduction.html">Test native mobile app</a></li>
              <li><a href="/about/highlights/developer-experience.html">Developer Experience</a></li>
              <li><a href="/about/highlights/beyond-e2e.html">Go beyond E2E</a></li>
              <li><a href="/about/highlights/types-of-testing.html">Multiple testing types</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Resources</span>
            <ul>
              <li><a href="/about/community/">Community</a></li>
              <li><a href="https://github.com/nightwatchjs/nightwatch/discussions">Discussions</a></li>
              <li><a href="https://discord.gg/SN8Da2X">Chat with us</a></li>
              <li><a href="https://stackoverflow.com/questions/tagged/nightwatch.js">Stack Overflow</a></li>
              <li><a href="https://github.com/nightwatchjs/nightwatch/issues">Report Issues</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Docs</span>
            <ul>
              <li><a href="/guide/overview/what-is-nightwatch.html">What is Nightwatch?</a></li>
              <li><a href="/guide/quickstarts/create-and-run-a-nightwatch-test.html">Run your first Test</a></li>
              <li><a href="https://marketplace.visualstudio.com/items?itemName=browserstackcom.nightwatch">Start with VS code</a></li>
              <li><a href="/guide/mobile-app-testing/introduction.html">Test on mobile devices</a></li>
              <li><a href="/api/">API reference</a></li>
              <li><a href="/guide/">Guide</a></li>
              <li><a href="/guide/configuration/nightwatch-configuration-file.html">Config settings</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Nightwatch</span>
            <ul>
              <li><a href="/about/">About</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/about/contribute/">How to Contribute?</a></li>
              <li><a href="/guide/overview/whats-new.html">Release History</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="footer__wrapper-inner-social">
        <div class="footer__wrapper-inner-social-logo">
          <svg role="img" viewBox="0 0 279 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Nightwatch.js logo</title>
            <path
              d="M8.85192 59.0007L7.78445 57.9303L13.6282 52.0679L4 42.4158L5.07269 41.3453L15.7683 52.0679L8.85192 59.0007Z"
              fill="black" />
            <path d="M55.6335 51.3087H14.6936V52.8267H55.6335V51.3087Z" fill="black" />
            <path
              d="M18.1516 5.03335C18.1345 4.88072 18.1567 4.72626 18.216 4.58465C18.2753 4.44305 18.3697 4.319 18.4903 4.22431C18.6109 4.12962 18.7536 4.06744 18.9049 4.04368C19.0562 4.01992 19.2111 4.03536 19.3548 4.08855L27.8502 7.22915L19.3234 15.4784L18.1516 5.03335Z"
              fill="#502D17" />
            <path
              d="M48.1951 5.03365C48.2127 4.88115 48.191 4.72667 48.132 4.58498C48.0731 4.44328 47.9789 4.31912 47.8585 4.22434C47.738 4.12956 47.5954 4.06734 47.4441 4.04362C47.2928 4.0199 47.138 4.03547 46.9945 4.08886L38.4965 7.22945L47.0258 15.4788L48.1951 5.03365Z"
              fill="#502D17" />
            <path
              d="M33.2731 50.3227C44.6 50.3227 53.7822 42.4193 53.7822 32.67C53.7822 22.9206 44.6 15.0172 33.2731 15.0172C21.9463 15.0172 12.764 22.9206 12.764 32.67C12.764 42.4193 21.9463 50.3227 33.2731 50.3227Z"
              fill="#794422" />
            <path
              d="M50.243 27.8424C50.243 41.0067 42.6454 51.6795 33.2782 51.6795C23.9111 51.6795 16.3135 41.0067 16.3135 27.8424C16.3135 14.678 23.9111 4 33.2782 4C42.6454 4 50.243 14.6833 50.243 27.8424Z"
              fill="#502D17" />
            <path
              d="M26.4222 28.781C30.7927 28.781 34.3356 24.7338 34.3356 19.7413C34.3356 14.7489 30.7927 10.7017 26.4222 10.7017C22.0517 10.7017 18.5088 14.7489 18.5088 19.7413C18.5088 24.7338 22.0517 28.781 26.4222 28.781Z"
              fill="white" />
            <path
              d="M45.0936 37.7033C45.0936 43.7934 39.8006 48.732 33.273 48.732C26.7455 48.732 21.4656 43.8065 21.4656 37.7033C21.4656 31.6 26.756 26.6693 33.2835 26.6693C39.811 26.6693 45.0936 31.6079 45.0936 37.7033Z"
              fill="white" />
            <path
              d="M47.8889 19.7299C47.8889 24.7235 44.3446 28.7696 39.9729 28.7696C35.6012 28.7696 32.0621 24.7339 32.0621 19.7299C32.0621 14.7259 35.6039 10.6876 39.9729 10.6876C44.342 10.6876 47.8889 14.7573 47.8889 19.7299Z"
              fill="white" />
            <path
              d="M32.6237 22.8197C33.0617 22.6485 33.5488 22.6531 33.9835 22.8328C35.2381 23.3193 36.3509 24.114 37.2198 25.1438C37.3553 25.3136 37.4346 25.5216 37.4467 25.7388C37.4589 25.9559 37.4033 26.1715 37.2877 26.3555C36.387 27.757 35.2369 28.9804 33.8947 29.9646C33.7277 30.0917 33.5237 30.1605 33.314 30.1605C33.1043 30.1605 32.9003 30.0917 32.7333 29.9646C31.3898 28.9819 30.2395 27.7582 29.3403 26.3555C29.2239 26.174 29.1679 25.9601 29.1806 25.7446C29.1933 25.5292 29.2739 25.3234 29.4108 25.1568C30.2514 24.1009 31.3618 23.2933 32.6237 22.8197Z"
              fill="#FF7F2B" />
            <path
              d="M32.486 32.1106C32.486 32.5312 32.3194 32.9346 32.0228 33.2321C31.7262 33.5295 31.3239 33.6966 30.9044 33.6966C30.4849 33.6966 30.0826 33.5295 29.786 33.2321C29.4894 32.9346 29.3228 32.5312 29.3228 32.1106H32.486Z"
              fill="#D6D6D6" />
            <path
              d="M37.291 32.1106C37.291 32.5312 37.1243 32.9346 36.8277 33.2321C36.5311 33.5295 36.1288 33.6966 35.7093 33.6966C35.2898 33.6966 34.8876 33.5295 34.5909 33.2321C34.2943 32.9346 34.1277 32.5312 34.1277 32.1106H37.291Z"
              fill="#D6D6D6" />
            <path
              d="M30.0797 35.2723C30.0797 35.693 29.913 36.0964 29.6164 36.3938C29.3198 36.6912 28.9175 36.8583 28.498 36.8583C28.0785 36.8583 27.6762 36.6912 27.3796 36.3938C27.083 36.0964 26.9164 35.693 26.9164 35.2723H30.0797Z"
              fill="#D6D6D6" />
            <path
              d="M34.8908 35.2723C34.8908 35.693 34.7242 36.0964 34.4276 36.3938C34.1309 36.6912 33.7287 36.8583 33.3092 36.8583C32.8897 36.8583 32.4874 36.6912 32.1908 36.3938C31.8942 36.0964 31.7275 35.693 31.7275 35.2723H34.8908Z"
              fill="#D6D6D6" />
            <path
              d="M39.6943 35.2723C39.6943 35.693 39.5276 36.0964 39.231 36.3938C38.9344 36.6912 38.5321 36.8583 38.1126 36.8583C37.6932 36.8583 37.2909 36.6912 36.9943 36.3938C36.6976 36.0964 36.531 35.693 36.531 35.2723H39.6943Z"
              fill="#D6D6D6" />
            <path
              d="M27.6826 38.3683C27.6826 38.7889 27.5159 39.1923 27.2193 39.4898C26.9227 39.7872 26.5204 39.9543 26.1009 39.9543C25.6814 39.9543 25.2792 39.7872 24.9825 39.4898C24.6859 39.1923 24.5193 38.7889 24.5193 38.3683H27.6826Z"
              fill="#D6D6D6" />
            <path
              d="M32.486 38.3683C32.486 38.7889 32.3194 39.1923 32.0228 39.4898C31.7262 39.7872 31.3239 39.9543 30.9044 39.9543C30.4849 39.9543 30.0826 39.7872 29.786 39.4898C29.4894 39.1923 29.3228 38.7889 29.3228 38.3683H32.486Z"
              fill="#D6D6D6" />
            <path
              d="M37.291 38.3683C37.291 38.7889 37.1243 39.1923 36.8277 39.4898C36.5311 39.7872 36.1288 39.9543 35.7093 39.9543C35.2898 39.9543 34.8876 39.7872 34.5909 39.4898C34.2943 39.1923 34.1277 38.7889 34.1277 38.3683H37.291Z"
              fill="#D6D6D6" />
            <path
              d="M42.1002 38.3683C42.0836 38.7781 41.9096 39.1656 41.6145 39.4497C41.3195 39.7338 40.9263 39.8924 40.5173 39.8924C40.1082 39.8924 39.715 39.7338 39.42 39.4497C39.125 39.1656 38.9509 38.7781 38.9343 38.3683H42.1002Z"
              fill="#D6D6D6" />
            <path
              d="M30.0797 41.5299C30.0797 41.9505 29.913 42.3539 29.6164 42.6514C29.3198 42.9488 28.9175 43.1159 28.498 43.1159C28.0785 43.1159 27.6762 42.9488 27.3796 42.6514C27.083 42.3539 26.9164 41.9505 26.9164 41.5299H30.0797Z"
              fill="#D6D6D6" />
            <path
              d="M34.8908 41.5299C34.8908 41.9505 34.7242 42.3539 34.4276 42.6514C34.1309 42.9488 33.7287 43.1159 33.3092 43.1159C32.8897 43.1159 32.4874 42.9488 32.1908 42.6514C31.8942 42.3539 31.7275 41.9505 31.7275 41.5299H34.8908Z"
              fill="#D6D6D6" />
            <path
              d="M39.6943 41.5299C39.6943 41.9505 39.5276 42.3539 39.231 42.6514C38.9344 42.9488 38.5321 43.1159 38.1126 43.1159C37.6932 43.1159 37.2909 42.9488 36.9943 42.6514C36.6976 42.3539 36.531 41.9505 36.531 41.5299H39.6943Z"
              fill="#D6D6D6" />
            <path
              d="M32.486 44.6243C32.486 45.0449 32.3194 45.4483 32.0228 45.7457C31.7262 46.0432 31.3239 46.2103 30.9044 46.2103C30.4849 46.2103 30.0826 46.0432 29.786 45.7457C29.4894 45.4483 29.3228 45.0449 29.3228 44.6243H32.486Z"
              fill="#D6D6D6" />
            <path
              d="M37.291 44.6243C37.291 45.0449 37.1243 45.4483 36.8277 45.7457C36.5311 46.0432 36.1288 46.2103 35.7093 46.2103C35.2898 46.2103 34.8876 46.0432 34.5909 45.7457C34.2943 45.4483 34.1277 45.0449 34.1277 44.6243H37.291Z"
              fill="#D6D6D6" />
            <path
              d="M27.4565 23.3405C29.9992 23.3405 32.0605 21.2736 32.0605 18.7239C32.0605 16.1741 29.9992 14.1072 27.4565 14.1072C24.9138 14.1072 22.8525 16.1741 22.8525 18.7239C22.8525 21.2736 24.9138 23.3405 27.4565 23.3405Z"
              fill="#C2DDEB" />
            <path
              d="M27.4554 21.6184C29.0467 21.6184 30.3368 20.3248 30.3368 18.7291C30.3368 17.1333 29.0467 15.8397 27.4554 15.8397C25.864 15.8397 24.574 17.1333 24.574 18.7291C24.574 20.3248 25.864 21.6184 27.4554 21.6184Z"
              fill="black" />
            <path
              d="M28.1839 18.7295C28.7735 18.7295 29.2514 18.2502 29.2514 17.659C29.2514 17.0679 28.7735 16.5886 28.1839 16.5886C27.5944 16.5886 27.1165 17.0679 27.1165 17.659C27.1165 18.2502 27.5944 18.7295 28.1839 18.7295Z"
              fill="white" />
            <path
              d="M38.7234 23.3489C41.2676 23.3489 43.33 21.2808 43.33 18.7296C43.33 16.1785 41.2676 14.1104 38.7234 14.1104C36.1793 14.1104 34.1168 16.1785 34.1168 18.7296C34.1168 21.2808 36.1793 23.3489 38.7234 23.3489Z"
              fill="#C2DDEB" />
            <path
              d="M38.7228 21.6184C40.3142 21.6184 41.6042 20.3248 41.6042 18.7291C41.6042 17.1333 40.3142 15.8397 38.7228 15.8397C37.1315 15.8397 35.8414 17.1333 35.8414 18.7291C35.8414 20.3248 37.1315 21.6184 38.7228 21.6184Z"
              fill="black" />
            <path
              d="M39.4466 18.7295C40.0362 18.7295 40.5141 18.2502 40.5141 17.659C40.5141 17.0679 40.0362 16.5886 39.4466 16.5886C38.8571 16.5886 38.3792 17.0679 38.3792 17.659C38.3792 18.2502 38.8571 18.7295 39.4466 18.7295Z"
              fill="white" />
            <path
              d="M42.8282 51.6962C42.8282 52.9158 42.1574 53.8999 41.3327 53.8999C40.5079 53.8999 39.8372 52.9158 39.8372 51.6962C39.8372 52.9158 39.1664 53.8999 38.3391 53.8999C37.5117 53.8999 36.8436 52.9158 36.8436 51.6962C36.8436 52.9158 36.1754 53.8999 35.348 53.8999C34.5207 53.8999 33.8525 52.9158 33.8525 51.6962C33.8525 49.9767 35.8544 48.5818 38.326 48.5818C40.7976 48.5818 42.8021 49.9767 42.8021 51.6962H42.8282Z"
              fill="#FF7F2B" />
            <path
              d="M32.6256 51.6962C32.6256 52.9158 31.9548 53.8999 31.1301 53.8999C30.3053 53.8999 29.6319 52.9158 29.6319 51.6962C29.6319 52.9158 28.9638 53.8999 28.1364 53.8999C27.3091 53.8999 26.6409 52.9158 26.6409 51.6962C26.6409 52.9158 25.9702 53.8999 25.1454 53.8999C24.3207 53.8999 23.6499 52.9158 23.6499 51.6962C23.6499 49.9767 25.6517 48.5818 28.1234 48.5818C30.595 48.5818 32.5995 49.9767 32.5995 51.6962H32.6256Z"
              fill="#FF7F2B" />
            <path
              d="M78.8948 46V17.5958H80.9637L92.946 37.6382L96.1356 43.2846H96.308C96.2793 41.9053 96.2218 40.526 96.1356 39.1468C96.0781 37.7675 96.0494 36.3882 96.0494 35.009V17.5958H97.9459V46H95.877L83.8946 25.9575L80.7051 20.3112H80.5326C80.5901 21.6617 80.6476 22.9979 80.7051 24.3197C80.7625 25.6415 80.7913 26.992 80.7913 28.3713V46H78.8948ZM103.064 46V25.311H104.96V46H103.064ZM104.055 20.3112C103.595 20.3112 103.208 20.1531 102.891 19.8371C102.575 19.521 102.417 19.09 102.417 18.544C102.417 18.0555 102.575 17.6532 102.891 17.3371C103.208 17.0211 103.595 16.863 104.055 16.863C104.544 16.863 104.932 17.0211 105.219 17.3371C105.535 17.6532 105.693 18.0555 105.693 18.544C105.693 19.09 105.535 19.521 105.219 19.8371C104.932 20.1531 104.544 20.3112 104.055 20.3112ZM116.663 55.9566C114.048 55.9566 111.98 55.4393 110.457 54.4049C108.934 53.3704 108.172 51.9768 108.172 50.224C108.172 49.3045 108.445 48.4137 108.991 47.5517C109.537 46.6896 110.284 45.9138 111.232 45.2242V45.0518C110.715 44.7357 110.284 44.3047 109.939 43.7587C109.595 43.2127 109.422 42.5375 109.422 41.7329C109.422 40.8134 109.681 40.0376 110.198 39.4054C110.715 38.7445 111.204 38.256 111.663 37.9399V37.7675C111.031 37.1928 110.442 36.417 109.896 35.44C109.35 34.4343 109.077 33.3136 109.077 32.078C109.077 30.6413 109.393 29.377 110.026 28.2851C110.686 27.1931 111.563 26.3455 112.655 25.742C113.775 25.1099 115.011 24.7938 116.362 24.7938C116.936 24.7938 117.453 24.8513 117.913 24.9662C118.373 25.0524 118.761 25.1673 119.077 25.311H126.103V26.9058H121.275C121.936 27.4805 122.482 28.2276 122.913 29.1471C123.344 30.0379 123.56 31.0292 123.56 32.1211C123.56 33.5291 123.244 34.7791 122.611 35.871C121.979 36.9629 121.117 37.825 120.025 38.4571C118.933 39.0893 117.712 39.4054 116.362 39.4054C115.787 39.4054 115.183 39.3336 114.551 39.1899C113.948 39.0462 113.402 38.8307 112.913 38.5433C112.454 38.9169 112.051 39.3336 111.707 39.7933C111.39 40.2531 111.232 40.8278 111.232 41.5174C111.232 42.2645 111.505 42.911 112.051 43.457C112.597 43.9742 113.646 44.2328 115.198 44.2328H119.637C121.965 44.2328 123.675 44.6207 124.766 45.3966C125.887 46.1437 126.447 47.3362 126.447 48.974C126.447 50.1522 126.045 51.2728 125.241 52.336C124.436 53.4279 123.301 54.3043 121.836 54.9652C120.37 55.6261 118.646 55.9566 116.663 55.9566ZM116.362 37.8968C117.31 37.8968 118.186 37.6526 118.991 37.1641C119.824 36.6756 120.485 36.0003 120.973 35.1383C121.462 34.2475 121.706 33.2274 121.706 32.078C121.706 30.3252 121.175 28.9316 120.111 27.8971C119.077 26.8627 117.827 26.3455 116.362 26.3455C114.896 26.3455 113.632 26.8627 112.569 27.8971C111.505 28.9029 110.974 30.2965 110.974 32.078C110.974 33.2274 111.218 34.2475 111.707 35.1383C112.224 36.0003 112.885 36.6756 113.689 37.1641C114.523 37.6526 115.413 37.8968 116.362 37.8968ZM116.879 54.4049C118.43 54.4049 119.767 54.1463 120.887 53.6291C122.037 53.1118 122.927 52.4509 123.56 51.6464C124.192 50.8705 124.508 50.0516 124.508 49.1896C124.508 48.0402 124.091 47.2212 123.258 46.7327C122.453 46.273 121.275 46.0431 119.724 46.0431H115.284C115.083 46.0431 114.738 46.0144 114.25 45.9569C113.761 45.8994 113.244 45.8132 112.698 45.6983C111.75 46.3304 111.06 47.0201 110.629 47.7672C110.198 48.543 109.982 49.3045 109.982 50.0516C109.982 51.3447 110.586 52.3935 111.793 53.198C113 54.0026 114.695 54.4049 116.879 54.4049ZM127.883 46V15.0096H129.779V28.5437C130.871 27.4518 131.978 26.561 133.098 25.8713C134.248 25.153 135.526 24.7938 136.934 24.7938C139.061 24.7938 140.627 25.4547 141.632 26.7765C142.667 28.0695 143.184 30.0522 143.184 32.7246V46H141.288V32.9832C141.288 30.7706 140.914 29.1471 140.167 28.1127C139.449 27.0495 138.242 26.5179 136.546 26.5179C135.311 26.5179 134.19 26.8483 133.184 27.5092C132.179 28.1414 131.044 29.104 129.779 30.3971V46H127.883ZM153.284 46.5172C151.272 46.5172 149.908 45.9425 149.189 44.7931C148.471 43.615 148.112 42.1064 148.112 40.2674V26.9489H144.879V25.4834L148.155 25.311L148.413 19.3198H150.051V25.311H156.042V26.9489H150.051V40.4398C150.051 41.7616 150.281 42.8248 150.741 43.6294C151.201 44.434 152.134 44.8362 153.542 44.8362C153.945 44.8362 154.376 44.7788 154.836 44.6638C155.324 44.5202 155.755 44.3621 156.129 44.1897L156.646 45.7414C156.042 45.9425 155.425 46.1149 154.792 46.2586C154.189 46.431 153.686 46.5172 153.284 46.5172ZM161.237 46L155.117 25.311H157.186L160.892 38.7158C161.151 39.664 161.395 40.5979 161.625 41.5174C161.884 42.4082 162.114 43.3133 162.315 44.2328H162.487C162.717 43.3133 162.961 42.4082 163.22 41.5174C163.478 40.5979 163.737 39.664 163.996 38.7158L167.746 25.311H170.03L173.78 38.7158C174.038 39.664 174.297 40.5979 174.556 41.5174C174.814 42.4082 175.073 43.3133 175.332 44.2328H175.504C175.734 43.3133 175.978 42.4082 176.237 41.5174C176.495 40.5979 176.74 39.664 176.969 38.7158L180.633 25.311H182.573L176.625 46H174.125L170.504 33.1556C170.217 32.1499 169.958 31.1729 169.728 30.2247C169.498 29.2477 169.225 28.2563 168.909 27.2506H168.737C168.507 28.2563 168.248 29.262 167.961 30.2678C167.702 31.2447 167.415 32.2361 167.099 33.2418L163.522 46H161.237ZM188.642 46.5172C187.004 46.5172 185.596 46.0575 184.418 45.138C183.24 44.2184 182.65 42.7817 182.65 40.8278C182.65 38.529 183.728 36.7905 185.883 35.6124C188.038 34.4055 191.415 33.5435 196.012 33.0263C196.041 31.9631 195.926 30.943 195.667 29.966C195.409 28.9603 194.92 28.127 194.202 27.4661C193.512 26.8052 192.478 26.4748 191.098 26.4748C189.719 26.4748 188.455 26.7478 187.305 27.2937C186.156 27.8397 185.222 28.3713 184.504 28.8885L183.642 27.4661C184.13 27.1213 184.762 26.7478 185.538 26.3455C186.314 25.9144 187.191 25.5553 188.168 25.2679C189.173 24.9518 190.236 24.7938 191.357 24.7938C192.995 24.7938 194.288 25.153 195.236 25.8713C196.185 26.5897 196.86 27.5523 197.262 28.7592C197.693 29.9373 197.909 31.2735 197.909 32.7677V46H196.271L196.098 43.3277H195.969C194.906 44.161 193.756 44.9081 192.521 45.569C191.285 46.2011 189.992 46.5172 188.642 46.5172ZM188.986 44.8793C190.165 44.8793 191.3 44.592 192.392 44.0173C193.512 43.4426 194.719 42.6093 196.012 41.5174V34.4918C193.167 34.8366 190.912 35.282 189.245 35.8279C187.578 36.3739 186.386 37.0635 185.668 37.8968C184.949 38.7014 184.59 39.6496 184.59 40.7416C184.59 42.2358 185.021 43.2989 185.883 43.9311C186.774 44.5633 187.808 44.8793 188.986 44.8793ZM207.454 46.5172C205.443 46.5172 204.078 45.9425 203.36 44.7931C202.641 43.615 202.282 42.1064 202.282 40.2674V26.9489H199.049V25.4834L202.325 25.311L202.584 19.3198H204.222V25.311H210.213V26.9489H204.222V40.4398C204.222 41.7616 204.452 42.8248 204.911 43.6294C205.371 44.434 206.305 44.8362 207.713 44.8362C208.115 44.8362 208.546 44.7788 209.006 44.6638C209.495 44.5202 209.926 44.3621 210.299 44.1897L210.816 45.7414C210.213 45.9425 209.595 46.1149 208.963 46.2586C208.359 46.431 207.857 46.5172 207.454 46.5172ZM219.427 46.5172C217.646 46.5172 216.037 46.1006 214.6 45.2673C213.192 44.4052 212.071 43.1696 211.238 41.5605C210.433 39.9226 210.031 37.9687 210.031 35.6986C210.031 33.3711 210.462 31.4028 211.324 29.7936C212.215 28.1558 213.379 26.9202 214.815 26.0869C216.252 25.2248 217.804 24.7938 219.47 24.7938C220.907 24.7938 222.1 25.0524 223.048 25.5696C223.996 26.0869 224.829 26.6759 225.548 27.3368L224.427 28.673C223.766 28.0408 223.033 27.5236 222.229 27.1213C221.424 26.6903 220.519 26.4748 219.513 26.4748C218.105 26.4748 216.827 26.8627 215.677 27.6385C214.557 28.4144 213.666 29.4919 213.005 30.8712C212.344 32.2504 212.014 33.8596 212.014 35.6986C212.014 37.5089 212.315 39.1037 212.919 40.4829C213.551 41.8335 214.427 42.8967 215.548 43.6725C216.697 44.4483 218.019 44.8362 219.513 44.8362C220.605 44.8362 221.611 44.6064 222.531 44.1466C223.479 43.6581 224.312 43.0978 225.031 42.4656L226.022 43.8018C225.131 44.5776 224.14 45.2242 223.048 45.7414C221.956 46.2586 220.749 46.5172 219.427 46.5172ZM228.1 46V15.0096H229.997V28.5437C231.089 27.4518 232.195 26.561 233.316 25.8713C234.465 25.153 235.744 24.7938 237.152 24.7938C239.278 24.7938 240.844 25.4547 241.85 26.7765C242.884 28.0695 243.401 30.0522 243.401 32.7246V46H241.505V32.9832C241.505 30.7706 241.131 29.1471 240.384 28.1127C239.666 27.0495 238.459 26.5179 236.764 26.5179C235.528 26.5179 234.407 26.8483 233.402 27.5092C232.396 28.1414 231.261 29.104 229.997 30.3971V46H228.1ZM248.631 46.5172C248.171 46.5172 247.74 46.3448 247.338 46C246.964 45.6552 246.777 45.1811 246.777 44.5776C246.777 43.9455 246.964 43.457 247.338 43.1122C247.74 42.7673 248.171 42.5949 248.631 42.5949C249.119 42.5949 249.536 42.7673 249.881 43.1122C250.254 43.457 250.441 43.9455 250.441 44.5776C250.441 45.1811 250.254 45.6552 249.881 46C249.536 46.3448 249.119 46.5172 248.631 46.5172ZM252.393 55.8704C251.904 55.8704 251.416 55.8129 250.927 55.698C250.439 55.583 250.036 55.4681 249.72 55.3531L250.194 53.8015C250.453 53.8877 250.769 53.9739 251.143 54.0601C251.545 54.175 251.947 54.2325 252.35 54.2325C253.528 54.2325 254.275 53.8015 254.591 52.9394C254.936 52.1061 255.108 51.0286 255.108 49.7068V25.311H257.048V49.8361C257.048 53.8589 255.496 55.8704 252.393 55.8704ZM256.056 20.3112C255.597 20.3112 255.209 20.1531 254.893 19.8371C254.576 19.521 254.418 19.09 254.418 18.544C254.418 18.0555 254.576 17.6532 254.893 17.3371C255.209 17.0211 255.597 16.863 256.056 16.863C256.545 16.863 256.933 17.0211 257.22 17.3371C257.536 17.6532 257.694 18.0555 257.694 18.544C257.694 19.09 257.536 19.521 257.22 19.8371C256.933 20.1531 256.545 20.3112 256.056 20.3112ZM266.94 46.5172C265.417 46.5172 263.995 46.2442 262.673 45.6983C261.38 45.1236 260.274 44.4483 259.354 43.6725L260.475 42.2501C261.366 42.9685 262.314 43.5863 263.32 44.1035C264.325 44.6207 265.575 44.8793 267.07 44.8793C268.679 44.8793 269.9 44.4771 270.733 43.6725C271.567 42.8392 271.983 41.8766 271.983 40.7847C271.983 39.9226 271.725 39.2042 271.207 38.6296C270.69 38.0549 270.044 37.5807 269.268 37.2072C268.521 36.8336 267.745 36.5032 266.94 36.2158C265.906 35.8423 264.886 35.4256 263.88 34.9659C262.903 34.5061 262.098 33.9171 261.466 33.1987C260.834 32.4516 260.518 31.489 260.518 30.3109C260.518 28.7879 261.078 27.4949 262.199 26.4317C263.348 25.3398 265.001 24.7938 267.156 24.7938C268.276 24.7938 269.354 24.9949 270.388 25.3972C271.452 25.7995 272.357 26.3167 273.104 26.9489L272.069 28.2851C271.351 27.7678 270.604 27.3368 269.828 26.992C269.052 26.6184 268.147 26.4317 267.113 26.4317C265.503 26.4317 264.311 26.8196 263.535 27.5954C262.788 28.3713 262.415 29.2333 262.415 30.1815C262.415 30.9574 262.63 31.6039 263.061 32.1211C263.521 32.6384 264.11 33.0694 264.828 33.4142C265.575 33.7303 266.351 34.0464 267.156 34.3624C268.248 34.7647 269.311 35.1958 270.345 35.6555C271.38 36.1153 272.227 36.7331 272.888 37.5089C273.578 38.2847 273.923 39.3479 273.923 40.6984C273.923 41.7329 273.65 42.6955 273.104 43.5863C272.558 44.4483 271.768 45.1523 270.733 45.6983C269.699 46.2442 268.434 46.5172 266.94 46.5172Z"
              fill="black" />
          </svg>
        </div>
        <div class="footer__wrapper-inner-social-subscribe">
          <h3 class="footer__wrapper-inner-social-subscribe-title">Subscribe to our newsletter</h3>
          <iframe
                  frameborder="0"
                  scrolling="no"
                  title="nightwatch-substack"
                  src="https://nightwatch.substack.com/embed"
                  loading="lazy"
                  height="160px"
                  style="position: relative;left: -11px;top: -20px;"></iframe>
        </div>
        <div class="footer__wrapper-inner-social-links">
          <a href="https://github.com/nightwatchjs/nightwatch" target="_blank">
            <svg role="img" viewBox="0 0 16 16" version="1.1"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>GitHub</title>
              <path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
              </path>
            </svg>
          </a>
          <a href="https://www.youtube.com/@nightwatch_js" target="_blank">
            <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 1.5 16 13"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>Youtube</title>
              <path
                d="M15.841 4.8c0 0-0.156-1.103-0.637-1.587-0.609-0.637-1.291-0.641-1.603-0.678-2.237-0.163-5.597-0.163-5.597-0.163h-0.006c0 0-3.359 0-5.597 0.163-0.313 0.038-0.994 0.041-1.603 0.678-0.481 0.484-0.634 1.587-0.634 1.587s-0.159 1.294-0.159 2.591v1.213c0 1.294 0.159 2.591 0.159 2.591s0.156 1.103 0.634 1.588c0.609 0.637 1.409 0.616 1.766 0.684 1.281 0.122 5.441 0.159 5.441 0.159s3.363-0.006 5.6-0.166c0.313-0.037 0.994-0.041 1.603-0.678 0.481-0.484 0.637-1.588 0.637-1.588s0.159-1.294 0.159-2.591v-1.213c-0.003-1.294-0.162-2.591-0.162-2.591zM6.347 10.075v-4.497l4.322 2.256-4.322 2.241z">
              </path>
            </svg>
          </a>
          <a href="https://twitter.com/nightwatchjs" target="_blank">
            <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision">
              <title>Twitter</title>
              <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
            </svg>
          </a>
          <a href="https://discord.com/invite/SN8Da2X" target="_blank">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 127.14 116"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>Discord</title>
              <g id="图层_2" data-name="图层 2">
                <g id="Discord_Logos" data-name="Discord Logos">
                  <g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White">
                    <path
                      d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z" />
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__wrapper-bottom">
      <div class="footer__wrapper-bottom-logo">
        <svg viewBox="0 0 180 32" class="w-svg" xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="headerBrowserStackLogoImgTitle headerBrowserStackLogoImgDesc" role="img">
          <title id="headerBrowserStackLogoImgTitle">BrowserStack Logo</title>
          <desc id="headerBrowserStackLogoImgDesc">An illustration of BrowserStack Logo</desc>
          <g fill="none" fill-rule="evenodd">
            <g>
              <path
                d="m31.0344828 15.5172414c0 8.5701882-6.9470532 15.5172414-15.5172414 15.5172414-8.56989423 0-15.5172414-6.9470532-15.5172414-15.5172414 0-8.56989423 6.94734717-15.5172414 15.5172414-15.5172414 8.5701882 0 15.5172414 6.94734717 15.5172414 15.5172414"
                fill="#ecb360"></path>
              <path
                d="m26.8965517 13.9655172c0 7.7128847-6.0213369 13.9655173-13.4482758 13.9655173-7.42722227 0-13.4482759-6.2526326-13.4482759-13.9655173 0-7.71288459 6.02105363-13.9655172 13.4482759-13.9655172 7.4269389 0 13.4482758 6.25263261 13.4482758 13.9655172"
                fill="#d76835"></path>
              <path
                d="m27.9310345 12.4136422c0 6.8560652-5.3263006 12.413944-11.8969855 12.413944-6.5698174 0-11.89611797-5.5578788-11.89611797-12.413944 0-6.85576335 5.32630057-12.4136422 11.89611797-12.4136422 6.5706849 0 11.8969855 5.55787885 11.8969855 12.4136422"
                fill="#d33a41"></path>
              <path
                d="m26.8965517 13.4484262c0 6.2843054-4.8632703 11.37916-10.8622124 11.37916-5.9989422 0-10.86192551-5.0948546-10.86192551-11.37916 0-6.28490677 4.86298331-11.37946068 10.86192551-11.37946068 5.9989421 0 10.8622124 5.09455391 10.8622124 11.37946068"
                fill="#b6cb46"></path>
              <path
                d="m25.862069 14.4826111c0 5.7133106-4.6316645 10.3449751-10.3449751 10.3449751-5.71301565 0-10.34468011-4.6316645-10.34468011-10.3449751 0-5.71331065 4.63166446-10.34468007 10.34468011-10.34468007 5.7133106 0 10.3449751 4.63136942 10.3449751 10.34468007"
                fill="#66ad4a"></path>
              <path
                d="m21.7241379 12.4137931c0 4.5706247-3.7052373 8.2758621-8.275862 8.2758621-4.57090515 0-8.27586211-3.7052374-8.27586211-8.2758621 0-4.57062469 3.70495696-8.27586207 8.27586211-8.27586207 4.5706247 0 8.275862 3.70523738 8.275862 8.27586207"
                fill="#aed7dc"></path>
              <path
                d="m22.7586207 11.3793103c0 3.9991764-3.2419755 7.2413794-7.2415259 7.2413794-3.9995505 0-7.24123273-3.242203-7.24123273-7.2413794 0-3.99946945 3.24168223-7.24137927 7.24123273-7.24137927 3.9995504 0 7.2415259 3.24190982 7.2415259 7.24137927"
                fill="#5bb1cf"></path>
              <path
                d="m22.7586207 11.8963967c0 3.7136422-2.7788402 6.724293-6.2068966 6.724293s-6.2068965-3.0106508-6.2068965-6.724293c0-3.71333217 2.7788401-6.72398291 6.2068965-6.72398291s6.2068966 3.01065074 6.2068966 6.72398291"
                fill="#25a8c3"></path>
              <path
                d="m20.6896552 12.9308813c0 3.1423524-2.315869 5.6898084-5.1725531 5.6898084-2.8564055 0-5.1722745-2.547456-5.1722745-5.6898084 0-3.14235241 2.315869-5.68950199 5.1722745-5.68950199 2.8566841 0 5.1725531 2.54714958 5.1725531 5.68950199">
              </path>
              <path
                d="m15.5171021 18.6206897c-2.8564055 0-5.1722745-2.547456-5.1722745-5.6898084 0-3.14235241 2.315869-5.68950199 5.1722745-5.68950199 2.8566841 0 5.1725531 2.54714958 5.1725531 5.68950199 0 3.1423524-2.315869 5.6898084-5.1725531 5.6898084z"
                fill="#1b1a18"></path>
              <path
                d="m18.3395432 11.2904163c-.4920811.8231975-1.4595626 1.299291-2.16129 1.062668-.7017274-.2363383-.8715674-1.0956984-.3798654-1.9191807.4920811-.82348231 1.4595626-1.29929107 2.16129-1.06295279s.8715674 1.09569839.3798654 1.91946549"
                fill="#fffffe"></path>
            </g>
            <g fill="#000" transform="translate(40.344828 7.241379)">
              <path
                d="m117.326492 14.0927618c-.247347-.6938318-.370833-1.5731169-.370833-2.7528593 0-1.1797425.123486-2.05864681.370833-2.75285936.691971-1.98933976 2.522419-3.07654593 4.920599-3.07654593 1.780376 0 3.189919.67060248 4.129237 1.73496018.074543.09253628.099015.23153112-.024471.3240674l-1.557876 1.27189794c-.123485.09253628-.247347.06968782-.345985-.04607774-.593333-.62452474-1.211514-.97144061-2.200905-.97144061-1.06318 0-1.87939.48591071-2.225752 1.45735131-.197652.55521772-.246971 1.20297171-.246971 2.05864681 0 .8560558.049319 1.5270391.246971 2.0822568.346362.9482113 1.162572 1.4341221 2.225752 1.4341221.989391 0 1.607572-.3469159 2.200905-.9714407.098638-.1157655.2225-.1157655.345985-.0232292l1.557876 1.2722787c.123486.0925363.099014.2083019.024471.3236866-.939318 1.0411284-2.348861 1.7121117-4.129237 1.7121117-2.39818 0-4.228628-1.0872061-4.920599-3.0769267">
              </path>
              <path
                d="m136.031168 16.9153089c-.172804 0-.296666-.069307-.395681-.2315311l-3.016737-4.6728921-1.607195 1.7349602v2.9379319c0 .1389948-.098638.2315311-.246971.2315311h-2.275448c-.147957 0-.246971-.0925363-.246971-.2315311v-15.26810647c0-.13861403.099014-.23115031.246971-.23115031h2.275448c.148333 0 .246971.09253628.246971.23115031v9.06855607l4.080295-4.48781948c.147956-.16222411.271818-.23153112.469471-.23153112h2.522418c.148334 0 .197653.13861403.098638.23153112l-3.783251 4.07121578 4.352113 6.6161541c.074543.0925363.024848.2315311-.123485.2315311z">
              </path>
              <path
                d="m3.44757063 14.5093655h3.51143272c1.63204255 0 2.54688993-.8792851 2.54688993-2.1976416 0-1.295508-.91484738-2.1744124-2.54688993-2.1744124h-3.51143272c-.09863786 0-.14833327.0460778-.14833327.1386141v4.094445c0 .0925363.04969541.1389949.14833327.1389949zm3.36309944-6.77799741c1.48370927 0 2.39855665-.83282658 2.39855665-2.05902758 0-1.24904946-.91484738-2.08187604-2.39855665-2.08187604h-3.36309944c-.09863786 0-.14833327.04607774-.14833327.13861403v3.86329476c0 .09253629.04969541.13899483.14833327.13899483zm-6.42915584-6.31569676c0-.13861403.09901435-.23115031.24697115-.23115031h6.25635133c3.56075169 0 5.24211309 1.66565316 5.24211309 4.18698136 0 1.78141872-.8899996 2.79931787-1.9535568 3.33130632v.04645855c1.0387095.36976434 2.2502234 1.61919465 2.2502234 3.53922735 0 3.1230045-2.1018901 4.6268143-5.78612731 4.6268143h-6.00900371c-.1479568 0-.24697115-.0925363-.24697115-.2315311z">
              </path>
              <path
                d="m14.4750581 16.9153089c-.1487097 0-.2477241-.0925363-.2477241-.2315311v-10.68736988c0-.13899483.0990144-.23153112.2477241-.23153112h2.2746946c.1483333 0 .2473476.09253629.2473476.23153112v.94821133h.0248477c.5684854-.85567504 1.5823472-1.43412204 3.0909041-1.43412204.9393187 0 1.8790137.34691588 2.4971946.92536287.123862.11538475.1487097.20830185.0493189.3236866l-1.3105283 1.55026841c-.0986379.11538475-.2224999.13861402-.3459855.04607774-.5440142-.32406741-1.112876-.53198845-1.7555281-.53198845-1.5578759 0-2.2502234 1.04074762-2.2502234 2.82216632v6.0377071c0 .1389948-.0990143.2315311-.2473476.2315311z">
              </path>
              <path
                d="m30.2623873 13.39893c.1980287-.578447.2473477-1.1104354.2473477-2.0590275 0-.9482114-.049319-1.45735135-.2473477-2.05864681-.3463619-.92536286-1.1124996-1.45735131-2.2253756-1.45735131-1.1128761 0-1.9042379.53198845-2.2502234 1.45735131-.1976522.60129546-.2473476 1.11043541-.2473476 2.05864681 0 .9485921.0496954 1.4805805.2473476 2.0590275.3459855.9253629 1.1373473 1.4573514 2.2502234 1.4573514 1.112876 0 1.8790137-.5319885 2.2253756-1.4573514zm-7.1459745.6938318c-.2721953-.786368-.3956809-1.5266583-.3956809-2.7528593 0-1.2258202.1234856-1.96611052.3956809-2.75285936.6674998-1.94288121 2.4971945-3.07654593 4.9205989-3.07654593 2.3985566 0 4.2282514 1.13366472 4.8961276 3.07654593.2718189.78674884.3956809 1.52703916.3956809 2.75285936 0 1.226201-.123862 1.9664913-.3956809 2.7528593-.6678762 1.943262-2.497571 3.0769267-4.8961276 3.0769267-2.4234044 0-4.2530991-1.1336647-4.9205989-3.0769267z">
              </path>
              <path
                d="m45.3234858 16.9153089c-.1487097 0-.2473476-.0925363-.297043-.2315311l-2.2995423-7.12491325h-.0493189l-2.32439 7.12491325c-.0496954.1389948-.1483333.2315311-.2970431.2315311h-2.0273469c-.1487098 0-.2473477-.0925363-.2966666-.2315311l-3.7587803-10.68736988c-.0496955-.13899483.0248477-.23153112.1731809-.23153112h2.373709c.173181 0 .2721953.06930701.3215143.23153112l2.2995423 7.35644438h.0496954l2.2746946-7.35644438c.0496954-.13899483.1731809-.23153112.3215142-.23153112h1.7803758c.1483333 0 .2721954.09253629.3215143.23153112l2.4234044 7.35644438h.0493189l2.1760567-7.35644438c.049319-.16222411.1483333-.23153112.3215143-.23153112h2.3737089c.1483333 0 .2225.09253629.173181.23153112l-3.7587803 10.68736988c-.049319.1389948-.1483333.2315311-.2966666.2315311z">
              </path>
              <path
                d="m51.8938218 15.4114991c-.0986378-.0925363-.0986378-.2311503 0-.3236866l1.4095427-1.3880443c.0990143-.0925363.2473476-.0925363.3463619 0 .8655285.7402903 2.2502234 1.2722787 3.4865851 1.2722787 1.4588615 0 2.2005279-.5552177 2.2005279-1.3187373 0-.6709833-.4201521-1.0872061-1.978028-1.226201l-1.2860571-.1153847c-2.4230279-.2315311-3.659766-1.3880443-3.659766-3.2852286 0-2.15118306 1.6568903-3.51599809 4.6243088-3.51599809 1.8545425 0 3.4124184.578447 4.475599 1.36481503.1238621.09253629.1238621.23115031.0496954.3236866l-1.2118904 1.36519583c-.0986378.11538476-.2224999.11538476-.3459855.04607774-.7420428-.4859107-1.9287091-.92536286-3.1157518-.92536286s-1.8052235.4859107-1.8052235 1.15651318c0 .64813481.4205286 1.04112842 1.9535568 1.18012327l1.2856806.1157655c2.497571.2311504 3.6846137 1.4341221 3.6846137 3.2616185 0 2.2208709-1.7310569 3.7707585-4.995142 3.7707585-2.4478756 0-4.1292371-.9021336-5.1186276-1.7581894">
              </path>
              <path
                d="m71.0995931 9.14226086c-.3215143-.90213359-1.2118904-1.43412204-2.32439-1.43412204-1.1373473 0-2.0277234.53198845-2.3488612 1.43412204-.0993909.27760886-.1487098.55521772-.1487098.94859214 0 .0925363.0493189.1389948.1487098.1389948h4.6732512c.0990144 0 .1483333-.0464585.1483333-.1389948 0-.39337442-.0493189-.67098328-.1483333-.94859214zm-7.1956699 4.92727164c-.2473477-.7166802-.4205286-1.572736-.4205286-2.72963 0-1.1565132.1487097-2.03541753.3956809-2.75285936.6674997-1.94288121 2.4971945-3.07654593 4.8712799-3.07654593 2.4482521 0 4.2286279 1.17974246 4.8961276 3.07654593.2721954.78674884.3956809 1.55026836.3956809 3.35453556 0 .1386141-.0990143.2311503-.2718188.2311503h-7.3440032c-.0993909 0-.1487098.0464586-.1487098.1389949 0 .3236866.0741667.6012954.173181.855675.3956809 1.087587 1.335376 1.6888825 2.6703755 1.6888825 1.335376 0 2.2012809-.4626815 2.7942375-1.0639769.1238621-.1157656.2473477-.1389949.3708332-.0464586l1.4592381 1.2029717c.1234856.0925363.1234856.2083019.0248477.3240674-1.0138617 1.1100547-2.6955997 1.8968035-4.8961276 1.8968035-2.5224187 0-4.3027946-1.1565132-4.9702943-3.100156z">
              </path>
              <path
                d="m76.0928527 16.9153089c-.1479568 0-.2469711-.0925363-.2469711-.2315311v-10.68736988c0-.13899483.0990143-.23153112.2469711-.23153112h2.2750711c.1487097 0 .2473476.09253629.2473476.23153112v.94821133h.0248477c.5684854-.85567504 1.5823471-1.43412204 3.0909041-1.43412204.9396951 0 1.8790137.34691588 2.4971945.92536287.1238621.11538475.1483333.20830185.0496954.3236866l-1.3105282 1.55026841c-.0986379.11538475-.2225.13861402-.346362.04607774-.5436377-.32406741-1.1124996-.53198845-1.7551517-.53198845-1.5578759 0-2.2505998 1.04074762-2.2505998 2.82216632v6.0377071c0 .1389948-.0986379.2315311-.2473476.2315311z">
              </path>
              <path
                d="m84.704089 15.0878125c-.0990144-.0925363-.1483333-.2315311-.049319-.3472967l1.5330282-1.6656532c.0990144-.1153847.2473476-.1153847.3459855-.0228484 1.0884049.8095973 2.6955997 1.6652723 4.5746134 1.6652723 2.0028757 0 3.1650707-.9482113 3.1650707-2.2665678 0-1.1336647-.7416664-1.873955-3.0660564-2.1747931l-.8903761-.1157656c-3.2388609-.41622287-5.0689322-1.87395499-5.0689322-4.48781949 0-2.84539561 2.2253757-4.74219908 5.687113-4.74219908 2.1018901 0 4.1047658.62452473 5.4401418 1.57273607.1238621.09291709.1487098.18545338.0496954.3240674l-1.1870427 1.7117309c-.0986378.11576556-.2224999.13899484-.3463619.06968782-1.3598473-.83282658-2.6210566-1.226201-4.0302228-1.226201-1.7065856 0-2.6459042.87928513-2.6459042 2.10510532 0 1.08720617.815833 1.82749646 3.0909041 2.12833459l.8903761.11576556c3.2388609.41622289 5.0192368 1.85034493 5.0192368 4.55712651 0 2.7993179-2.1512091 4.8811939-6.3301415 4.8811939-2.4723468 0-4.87128-.9253628-6.1818082-2.081876">
              </path>
              <path
                d="m102.339937 17.1118057c-2.3985567 0-3.3134041-1.0872061-3.3134041-3.2619993v-5.87548295c0-.09253629-.0496954-.13899484-.1487097-.13899484h-.7913618c-.1479568 0-.2469712-.09253628-.2469712-.23153112v-1.5498876c0-.13861402.0990144-.23115031.2469712-.23115031h.7913618c.0990143 0 .1487097-.04645855.1487097-.13899483v-3.05369746c0-.13861403.0990144-.23115031.2469712-.23115031h2.2750709c.148333 0 .247348.09253628.247348.23115031v3.05369746c0 .09253628.049319.13899483.148333.13899483h1.582724c.147956 0 .246971.09253629.246971.23115031v1.5498876c0 .13899484-.099015.23153112-.246971.23153112h-1.582724c-.099014 0-.148333.04645855-.148333.13899484v5.78332755c0 .786368.346362 1.0407476 1.112876 1.0407476h.618181c.147956 0 .246971.0925363.246971.2315311v1.8503449c0 .1389949-.099015.2315311-.246971.2315311z">
              </path>
              <path
                d="m112.530885 13.1673989v-.855675c0-.0925363-.049695-.1389949-.14871-.1389949h-1.978028c-1.780376 0-2.571737.4626815-2.571737 1.5038099 0 .9253629.716818 1.3880443 2.052194 1.3880443 1.706586 0 2.646281-.6245247 2.646281-1.8971843zm.29629 3.74791c-.148333 0-.246971-.0925363-.246971-.2315311v-.8095973h-.024848c-.568862.7635196-1.681738 1.295508-3.362723 1.295508-2.176056 0-4.006128-1.0639769-4.006128-3.4006133 0-2.4291727 1.830072-3.5392274 4.772266-3.5392274h2.423404c.099015 0 .14871-.0464585.14871-.1389948v-.53198845c0-1.27265954-.643405-1.85072573-2.646281-1.85072573-1.335376 0-2.151209.34691587-2.720071.76351957-.123485.09253628-.271819.06930701-.345985-.04645855l-.914848-1.52665833c-.074166-.11576556-.049318-.23153112.049319-.30083813.964543-.64775401 2.275071-1.08720617 4.228628-1.08720617 3.634919 0 4.970295 1.15651318 4.970295 3.88652404v7.28675655c0 .1389948-.099391.2315311-.247348.2315311z">
              </path>
            </g>
          </g>
        </svg>
      </div>
      <div class="footer__wrapper-bottom-logo-mobile">
        <svg viewBox="0 0 177 177" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <radialGradient cx="49.8655914%" cy="49.9462366%" fx="49.8655914%" fy="49.9462366%" r="49.9193548%"
                id="radialGradient-1">
                <stop stop-color="#797979" offset="0%">
                </stop>
                <stop stop-color="#4C4C4C" offset="100%">
                </stop>
              </radialGradient>
            </defs>
            <g id="Browserstack_Logo_Monagram" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Browserstack-logo" fill-rule="nonzero">
                <circle id="Oval" fill="#F4B960" cx="88.5" cy="88.5" r="88.5">
                </circle>
                <circle id="Oval" fill="#E66F32" cx="80" cy="80" r="80">
                </circle>
                <circle id="Oval" fill="#E43C41" cx="90" cy="69" r="69">
                </circle>
                <circle id="Oval" fill="#BDD041" cx="95.5" cy="74.5" r="63.5">
                </circle>
                <circle id="Oval" fill="#6DB54C" cx="91" cy="79" r="59">
                </circle>
                <circle id="Oval" fill="#AEDAE6" cx="81.5" cy="70.5" r="49.5">
                </circle>
                <circle id="Oval" fill="#56B8DE" cx="90.5" cy="61.5" r="41.5">
                </circle>
                <circle id="Oval" fill="#00B1D5" cx="95.5" cy="67.5" r="36.5">
                </circle>
                <circle id="Oval" fill="url(#radialGradient-1)" cx="90" cy="72" r="31">
                </circle>
                <circle id="Oval" fill="#221F1F" cx="90" cy="72" r="31">
                </circle>
                <ellipse id="Oval" fill="#FFFFFF"
                  transform="translate(102.180430, 60.765690) rotate(-65.831561) translate(-102.180430, -60.765690) "
                  cx="102.18043" cy="60.7656904" rx="9.57121784" ry="6.21289579">
                </ellipse>
              </g>
            </g>
          </svg>
      </div>
      <div class="footer__wrapper-bottom-text">
        <p class="footer__wrapper-bottom-text-about">Nightwatch was established in 2014 and since 2021 it is actively maintained at <a href="https://browserstack.com/" target="_blank" rel="noopener noreferrer">BrowserStack</a> with the help of all our <a href="https://github.com/nightwatchjs/nightwatch/graphs/contributors" target="_blank" rel="noopener noreferrer">contributors</a>.</p>

        <p class="footer__wrapper-bottom-text-copywright">&copy; 2023 <a href="https://browserstack.com/" target="_blank"
            rel="noopener noreferrer">BrowserStack</a> Limited • Code licensed under the
          <a href="https://github.com/nightwatchjs/nightwatch/blob/main/LICENSE.md" target="_blank" rel="noopener noreferrer">MIT License</a>.
        </p>
      </div>
    </div>
  </div>

</footer>

<script type="module" src="/src/js/dropdown.js"></script>
<%- include('docsearch') %>
