<%
function arrayFlatten(navItems) {
    return navItems.reduce((result, item) => {
        if (item.links) {
            return result.concat(arrayFlatten(item.links));
        } else {
            return result.concat(item);
        }
    }, []);
}

function findNextAndPrevUrl(navItems, currentUrl) {
    let items = arrayFlatten(navItems)
    let prevUrl, prevTitle, nextUrl, nextTitle;

    for (let i = 0; i < items.length; i++) {
        if (items[i].url === currentUrl) {
            if (i > 0) {
                prevUrl = items[i - 1].url;
                prevTitle = items[i - 1].title;
            }
            if (i < items.length - 1) {
                nextUrl = items[i + 1].url;
                nextTitle = items[i + 1].title;
            }
            break;
        }
    }

    return {
        prevUrl,
        prevTitle,
        nextUrl,
        nextTitle
    };
}

const result=findNextAndPrevUrl(navItems, page.url);

 %>

 <div>
    <div class="doc-pagination pt-40">
        <%if (result.prevUrl){%>
            <div class="previous">
                <a href= <%- result.prevUrl%> >
                    <span>←</span>
                    <div class="d-flex flex-column">
                        <span class="smallT">Back</span>
                        <span class="bigT"><%- result.prevTitle%></span>
                    </div>
                </a>
            </div>
        <%}%>
        <%if (result.nextUrl){%>
            <div class="next">
                <a href= <%- result.nextUrl%>>
                    <div class="d-flex flex-column">
                        <span class="smallT">Next Page</span>
                        <span class="bigT"><%- result.nextTitle%></span>
                    </div>
                    <span>→</span>
                </a>
            </div>
        <%}%>
    </div>
</div>

