<%
function arrayFlatten(navItems) {
    return navItems.reduce((result, item) => {
        if (item.links) {
            return result.concat(arrayFlatten(item.links));
        } else {
            return result.concat(item);
        }
    }, []);
}

function findNextAndPrevUrl(navItems, currentUrl) {
    let items = arrayFlatten(navItems)
    let prev,next;

    for (let i = 0; i < items.length; i++) {
        if (items[i].url === currentUrl) {
            if (i > 0)
                prev = items[i - 1];
            if (i < items.length - 1)
                next = items[i + 1];
            break;
        }
    }

    return {
        prev,
        next
    };
}

const result=findNextAndPrevUrl(navItems, page.url);

 %>

 <div>
    <div class="doc-pagination pt-40">
        <%if (result.prev){%>
            <div class="previous">
                <a href= <%- result.prev.url%> >
                    <span>←</span>
                    <div class="d-flex flex-column">
                        <span class="smallT">Back</span>
                        <span class="bigT">
                            <% let titlePrev= result.prev.alt ? result.prev.alt : result.prev.title %>
                            <%- titlePrev%>
                        </span>
                    </div>
                </a>
            </div>
        <%}%>
        <%if (result.next){%>
            <div class="next">
                <a href= <%- result.next.url%>>
                    <div class="d-flex flex-column">
                        <span class="smallT">Next Page</span>
                        <span class="bigT">
                            <% let titleNext= result.next.alt ? result.next.alt : result.next.title %>
                            <%- titleNext%>
                        </span>
                    </div>
                    <span>→</span>
                </a>
            </div>
        <%}%>
    </div>
</div>

