.DS_Store
node_modules
.idea
*.plist
.idea/
.vscode/

# Dependency directories
node_modules/
logs
nightwatch

# Postdoc output directory
out/
output/

# dotenv environment variables file
.env
.env.local

# Nightwatch output directory
tests_output
/public/__examples/
package-lock.json
.pd*