/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript+typescript&plugins=line-numbers+file-highlight+show-language+command-line+toolbar+copy-to-clipboard */
code[class*=language-], pre[class*=language-] {
  color: #fff;
  background: 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  text-shadow: 0 -.1em .2em #000;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background: #141414
}

pre[class*=language-] {
  border-radius: 0;
  border: .3em solid #545454;
  box-shadow: 1px 1px .5em #000 inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em
}

pre[class*=language-]::-moz-selection {
  background: #27292a
}

pre[class*=language-]::selection {
  background: #27292a
}

code[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, pre[class*=language-]::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, .15)
}

code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, .15)
}

:not(pre) > code[class*=language-] {
  border-radius: .3em;
  border: .13em solid #545454;
  box-shadow: 1px 1px .3em -.1em #000 inset;
  padding: .15em .2em .05em;
  white-space: normal
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #777
}

.token.punctuation {
  opacity: .7
}

.token.namespace {
  opacity: .7
}

.token.boolean, .token.deleted, .token.number, .token.tag {
  color: #ce6849
}

.token.builtin, .token.constant, .token.keyword, .token.property, .token.selector, .token.symbol {
  color: #f9ed99
}

.language-css .token.string, .style .token.string, .token.attr-name, .token.attr-value, .token.char, .token.entity, .token.inserted, .token.operator, .token.string, .token.url, .token.variable {
  color: #909e6a
}

.token.atrule {
  color: #7385a5
}

.token.important, .token.regex {
  color: #e8c062
}

.token.bold, .token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.language-markup .token.attr-name, .language-markup .token.punctuation, .language-markup .token.tag {
  color: #ac885c
}

.token {
  position: relative;
  z-index: 1
}

.line-highlight.line-highlight {
  background: hsla(0, 0%, 33%, .25);
  background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0));
  border-bottom: 1px dashed #545454;
  border-top: 1px dashed #545454;
  margin-top: .75em;
  z-index: 0
}

.line-highlight.line-highlight:before, .line-highlight.line-highlight[data-end]:after {
  background-color: #8693a6;
  color: #f4f1ef
}

pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber
}

pre[class*=language-].line-numbers > code {
  position: relative;
  white-space: inherit
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}

div.code-toolbar {
  position: relative
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: .3em;
  right: .2em;
  transition: opacity .3s ease-in-out;
  opacity: 0
}

div.code-toolbar:hover > .toolbar {
  opacity: 1
}

div.code-toolbar:focus-within > .toolbar {
  opacity: 1
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, .2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
  border-radius: 0
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus, div.code-toolbar > .toolbar > .toolbar-item > a:hover, div.code-toolbar > .toolbar > .toolbar-item > button:focus, div.code-toolbar > .toolbar > .toolbar-item > button:hover, div.code-toolbar > .toolbar > .toolbar-item > span:focus, div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none
}

.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.command-line-prompt > span:before {
  opacity: .7;
  content: ' ';
  display: block;
  padding-right: .8em
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $"
}

.command-line-prompt > span[data-user=root]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #"
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt)
}

.command-line-prompt > span[data-continuation-prompt]:before {
  content: attr(data-continuation-prompt)
}

.command-line span.token.output {
  opacity: .7
}
